<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nuevo Postulante</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h1 class="text-primary">Administración de Postulantes</h1>
  <hr>


  <div class="row">
    <div class="col-md-6 bg-lightgray">
      <h2 class="mb-4">Actualizar Postulante</h2>
      <form th:action="@{/guardarPostulantes}" th:object="${postulantes}" enctype="multipart/form-data" method="post">

        <input type="hidden" th:field="*{id}">
        <div class="form-group">
          <label for="Nombre" class="text-secondary">Nombre:</label>
          <input type="text" th:field="*{nombre}" class="form-control" id="nombre" placeholder="nombre">
        </div>
        <div class="form-group">
          <label for="Apellido" class="text-secondary">Apellido:</label>
          <input type="text" th:field="*{apellido}" class="form-control" id="apellido" placeholder="apellido">
        </div>
        <div class="form-group">
          <label for="telefono" class="text-secondary">Telefono:</label>
          <input type="text" th:field="*{telefono}" class="form-control" id="telefono" placeholder="telefono">
        </div>
        <div class="form-group">
          <label for="dni" class="text-secondary">Dni:</label>
          <input type="text" th:field="*{dni}" class="form-control" id="dni" placeholder="dni">
        </div>
        <div class="form-group">
          <label for="foto" class="text-secondary">Foto:</label>
          <input type="file" name="file" class="form-control-file" id="foto">
        </div>
        <div class="form-group">
          <label for="direccion" class="text-secondary">Direccion:</label>
          <input type="text" th:field="*{direccion}" class="form-control" id="direccion" placeholder="direccion">
        </div>

        <div class="form-group">
          <label for="puntaje" class="text-secondary">Puntaje:</label>
          <input type="text" th:field="*{puntaje}" class="form-control" id="puntaje" placeholder="puntaje">
        </div>

        <button type="submit" class="btn btn-info mt-4">Actualizar</button>

      </form>
    </div>

    <div class="col-md-6">
      <!-- Aquí se puede agregar contenido adicional si se desea -->
    </div>
  </div>
</div>

</body>
</html>