<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Administración de Albergues</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h1>Listado de Postulantes</h1>
    <a th:href="@{/nuevoPostulantes}" class="btn btn-outline-dark"><img th:src="@{/img/agregar.png}" alt="Agregar" width="30" height="30"/> Agregar Postulante</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id de Postulante</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Dni</th>
            <th>Foto</th>
            <th>Direccion</th>
            <th>Puntaje</th>
            <th>Actualizar</th>
            <th>Eliminar</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="postulante : ${listaPostulantes}">
            <td th:text="${postulante.getId()}" > </td>
            <td th:text="${postulante.getNombre()}" > </td>
            <td th:text="${postulante.getApellido()}" > </td>
            <td th:text="${postulante.getTelefono()}" > </td>
            <td th:text="${postulante.getDni()}" > </td>
            <td style="text-align: center; vertical-align: middle;">
                <img th:src="@{/img/uploads/__${postulante.foto}__}" width="30" height="30">
            </td>
            <td th:text="${postulante.getDireccion()}" > </td>
            <td th:text="${postulante.getPuntaje()}" > </td>
            <td style="text-align: center; vertical-align: middle;">
                <div class="bg-image hover-zoom">
                    <a th:href="@{/actualizarPostulantes/{id}(id=${postulante.id})}">
                        <img th:src="@{/img/actualizar.png}" alt="Actualizar" width="30" height="30">
                    </a></div>
            </td>
            <td style="text-align: center; vertical-align: middle;">
                <div class="bg-image hover-zoom">
                    <a th:href="@{/eliminarPostulantes/{id}(id=${postulante.id})}">
                        <img th:src="@{/img/eliminar.png}" alt="Eliminar" width="30" height="30">
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>